html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.noDisplay {
    display: none;
}
}
.nav-item{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction:column;
}
.emptyLoginWrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}
.loginWindow{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    position: absolute;
    right:20px;
    top: 0px;
}
.loginButton {
    position:relative;
}
