@model Informacni_System_Pojistovny.Models.Model.PojistnyProduktModels.PojistnyProduktInputModel

@{
    ViewData["Title"] = "Editovat";
}

<h1>Změnit pojistný produkt</h1>

<h4>Pojistný produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popis" class="control-label"></label>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximalniVysePlneni" class="control-label"></label>
                <input asp-for="MaximalniVysePlneni" class="form-control" />
                <span asp-validation-for="MaximalniVysePlneni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Změnit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Zpět na pojistný produkt" , "Details", new { id = ViewContext.RouteData.Values["id"]})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
