@using Microsoft.AspNetCore.Identity
@using Informacni_System_Pojistovny.Models.Entity
@using System.Security.Claims

<ul class="navbar-nav">
    @if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
                                                <a id="manage" class="nav-link text-light" asp-controller="Uzivatel" asp-action="EditOwnProfile" title="Manage">@Context.User.Claims.First(c => c.Type == ClaimTypes.Email).Value</a>

        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-controller="Uzivatel" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-light">Odhlásit</button>
            </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-controller="Uzivatel" asp-action="Login">Přihlášení</a>
    </li>
    <li class="nav-item">
                        <a class="nav-link text-light" id="login" asp-controller="Uzivatel"  asp-action="Register">Registrace</a>
    </li>
}
</ul>
