@model Informacni_System_Pojistovny.Models.Model.AdresaInputModel

@{
    ViewData["Title"] = "Přidat adresu";
}

<h1>Přidat adresu</h1>

<h4>AdresaInputModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAddress">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CisloPopisne" class="control-label"></label>
                <input asp-for="CisloPopisne" class="form-control" />
                <span asp-validation-for="CisloPopisne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulice" class="control-label"></label>
                <input asp-for="Ulice" class="form-control" />
                <span asp-validation-for="Ulice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Psc" class="control-label"></label>
                <select name="Psc" class="form-control" asp-items="@ViewBag.pscs"></select>
                <span asp-validation-for="Psc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
