@model Informacni_System_Pojistovny.Models.Model.Uzivatele.EditUserModel

@{
    ViewData["Title"] = "Úprava profilu uživatele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Úprava profilu uživatele</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jmeno" class="control-label"></label>
                <input asp-for="Jmeno" class="form-control" />
                <span asp-validation-for="Jmeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijmeni" class="control-label"></label>
                <input asp-for="Prijmeni" class="form-control" />
                <span asp-validation-for="Prijmeni" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                                 <label asp-for=Role class="control-label"></label>
                @{
                    List<UzivateleRole> roleList = new List<UzivateleRole>();
                    roleList.Add(UzivateleRole.User);
                    roleList.Add(UzivateleRole.Admin);
                    roleList.Add(UzivateleRole.PriviledgedUser);
                        <select class="form-control" asp-items="@(new SelectList(roleList))" asp-for="Role"></select>
             }
                            <span asp-validation-for="Role" class="text-danger"></span>
             </div>
            <input asp-for="Id" hidden class="form-control" />

            <div class="form-group">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Zpět na detail</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
