@model Informacni_System_Pojistovny.Models.Model.EditOwnProfileModel

@{
    ViewData["Title"] = "EditOwnProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Úprava vlastního profilu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOwnProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jmeno" class="control-label"></label>
                <input asp-for="Jmeno" class="form-control" />
                <span asp-validation-for="Jmeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijmeni" class="control-label"></label>
                <input asp-for="Prijmeni" class="form-control" />
                <span asp-validation-for="Prijmeni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label autocomplete="new-password" asp-for="Heslo" class="control-label"></label>
                <input asp-for="Heslo" class="form-control" />
                <span asp-validation-for="Heslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Zpět na úvodní stránku</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
