@model Informacni_System_Pojistovny.Models.Model.PohledavkaModels.RedirectablePohledavka

@{
    ViewData["Title"] = "Úprava pohledávky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Úprava pohledávky</h1>

<h4>Pohledávka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vznik" class="control-label"></label>
                <input asp-for="Vznik" class="form-control" />
                <span asp-validation-for="Vznik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumSplatnosti" class="control-label"></label>
                <input asp-for="DatumSplatnosti" class="form-control" />
                <span asp-validation-for="DatumSplatnosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vyse" class="control-label"></label>
                <input asp-for="Vyse" class="form-control" />
                <span asp-validation-for="Vyse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumSplaceni" class="control-label"></label>
                <input asp-for="DatumSplaceni" class="form-control" />
                <span asp-validation-for="DatumSplaceni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popis" class="control-label"></label>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
               <input hidden asp-for="RedirectedFrom" class="form-control" />
               <input hidden asp-for="ID" class="form-control" />
               <input hidden asp-for="PojistkaId" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Upravit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

        @if (Model.RedirectedFrom != null)
        {
                   <a asp-action="Details" asp-controller="@Model.RedirectedFrom" asp-route-id=@Model.PojistkaId>Zpět na pojistnou událost</a> <span>|</span>
               <a asp-action="Details" asp-route-id=@Model.ID>Přejdi k detailu pohledávky</a>
        }else{
               <a asp-action="Details" asp-route-id=@Model.ID>Zpět na detail</a>
        }
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
