@model Informacni_System_Pojistovny.Models.Entity.PojistnaUdalost

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PojistnaUdalost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PojistnaUdalostId" class="control-label"></label>
                <input asp-for="PojistnaUdalostId" class="form-control" />
                <span asp-validation-for="PojistnaUdalostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vznik" class="control-label"></label>
                <input asp-for="Vznik" class="form-control" />
                <span asp-validation-for="Vznik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popis" class="control-label"></label>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NarokovanaVysePojistky" class="control-label"></label>
                <input asp-for="NarokovanaVysePojistky" class="form-control" />
                <span asp-validation-for="NarokovanaVysePojistky" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
